@use "utils" as u;

.main {
  background-color: u.$color-bg;
  width: 100%;
  min-height: 100vh;
  padding: {
    top: 41px;
    left: 16px;
    right: 16px;
  }
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    margin-bottom: 51px;
  }

  @media (min-width: 575.98px) {
    padding-right: calc(50% - 270px);
  }

  @media (min-width: 767.98px) {
    padding-right: calc(50% - 360px);
  }

  @media (min-width: 991.98px) {
    padding-right: calc(50% - 480px);
  }

  @media (min-width: 1199.98px) {
    padding-right: calc(50% - 590px);
    padding-left: 71px;
    align-items: start;
  }
}
