@use "variables" as v;

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

*,
*:after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  border: none;
  outline: none;
}

html {
  font-size: v.$base-font-size;
  background-color: v.$color-white;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  font-family: v.$primary-font;
  min-height: 100vh;
  height: 100%;
  min-width: 100vw;
  width: 100%;
  overflow-x: hidden;
}

.container {
  width: 100%;
  margin: {
    left: auto;
    right: auto;
  }
  padding-left: 16px;
}

.home {
  display: flex;
  flex-direction: column;
  @media (min-width: 1366px) {
    flex-direction: row;
  }
}
